<div class="connection">
   <div>
       <div class="connection__userImage">
           <img style="width: 88px; height: 88px; background-color: grey;" src="" alt="">
       </div>
       <div class="connection__title">
           <h3>Connexion</h3>
       </div>
       <div>
           <form action="">
               <div>
                   <label for="">Mail address or username</label>
                   <input type="email" placeholder="mail@domaine.com">
               </div>
               <div>
                   <label for="">Password</label>
                   <input type="password" placeholder="Mot de passe">
               </div>
           </form>
           <div>
               <a href="">Mot de passe oublié ?</a>
           </div>
       </div>
       <div>
           <button type="submit">Se connecter <i></i></button>
           <a href="">Pas encore inscrit ?</a>
       </div>
   </div>
</div>

<!-- Accent-colored raised button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Button
</button>


<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>