<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>title</title>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({selector: 'textarea'});</script>
</head>
<body class="body--colored">

<aside class="aside">
    <nav class="aside__nav">
        <ul class="aside__list">
            <li class="aside__list__item"><img src="" alt="">
                <div class="aside__searchBar__container">
                    <span class="aside__searchBar__outline"></span>
                    <input class="aside__searchBar" placeholder="Search" type="text">
                </div>
            </li>
            <li class="aside__list__item aside__list__item--active">
                <img src="/image/dashboard.svg" alt=""> <span>Dashboard</span>
            </li>
            <li class="aside__list__item aside__list__item--extanded">
                <div>
                    <a class="link" href="/posts">
                        <img src="/image/stylo.svg" alt=""> <span>Articles</span>
                    </a>
                </div>
                <ul>
                    <li>
                        <a class="link link--aside" href="/posts/create">Ajouter</a>
                    </li>
                    <li>Catégories</li>
                </ul>
            </li>
            <li class="aside__list__item">
                <div>
                    <a class="link" href="/pages">
                        <img src="/image/page.svg" alt=""> <span>Pages</span>
                    </a>
                </div>
            </li>
            <li class="aside__list__item">
                <img src="/image/user.svg" alt=""> <span>Users</span>
            </li>
            <li class="aside__list__item">
                <img src="/image/paint.svg" alt=""> <span>Thèmes</span>
            </li>
        </ul>
    </nav>
</aside>

<header class="header">
    <ul class="header__list">
        <div>
            <li class="header__list__item">
                <a class="link" href="">
                    <img class="header__list__logo" src="/image/logo--mini.svg" alt="">
                </a>
            </li>
            <li class="header__list__item">
                <a class="link" href="">Nom du projet</a>
            </li>
        </div>
        <div>
            <li class="header__list__item">
                Nom du user
            </li>
            <li class="header__list__item header__list__item--centered">
                <span class="header__list__userImg">

                </span>
            </li>
        </div>
    </ul>
</header>

<div id="content" class="container container--height container--header">
    {% block body %}
    {% endblock body %}
</div>

<script src="/script/aside.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
</body>
</html>