/* line 1, ../../front/sass/global/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 12, ../../front/sass/global/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 16, ../../front/sass/global/_reset.scss */
body {
  background-color: #fafafa;
  line-height: 1;
  overflow-x: hidden;
}

/* line 22, ../../front/sass/global/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../front/sass/global/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 31, ../../front/sass/global/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 38, ../../front/sass/global/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../../front/sass/global/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
colors
*/
/*
include in your content like this

 p {
  font-size: 16px;

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 20px;
  }
}

*/
/* line 1, ../../front/sass/global/_layout.scss */
.container {
  width: 1240px;
  margin: 0 auto;
}
/* line 4, ../../front/sass/global/_layout.scss */
.container--mini {
  width: 800px;
}
/* line 7, ../../front/sass/global/_layout.scss */
.container--height {
  min-height: 100vh;
}
/* line 10, ../../front/sass/global/_layout.scss */
.container--centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 15, ../../front/sass/global/_layout.scss */
.container--colored {
  background-color: rgba(0, 176, 255, 0.1);
}

/* line 20, ../../front/sass/global/_layout.scss */
.body--colored {
  background-color: rgba(0, 176, 255, 0.1);
}

/* line 24, ../../front/sass/global/_layout.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 28, ../../front/sass/global/_layout.scss */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 1, ../../front/sass/pages/_connection.scss */
.connection {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 5, ../../front/sass/pages/_connection.scss */
.connection__error {
  color: #df1b1b;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  min-height: 16px;
  padding-top: 2px;
}
/* line 12, ../../front/sass/pages/_connection.scss */
.connection__container {
  display: flex;
  flex-direction: column;
}
/* line 16, ../../front/sass/pages/_connection.scss */
.connection__userImage {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
/* line 21, ../../front/sass/pages/_connection.scss */
.connection__card {
  padding: 24px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
/* line 27, ../../front/sass/pages/_connection.scss */
.connection__title {
  text-align: center;
  margin: 0 0 15px 0;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 400;
}
/* line 33, ../../front/sass/pages/_connection.scss */
.connection__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  outline: none;
}
/* line 38, ../../front/sass/pages/_connection.scss */
.connection__field label {
  font-size: 17px;
  font-size: 1.0625rem;
  margin-bottom: 5px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
/* line 44, ../../front/sass/pages/_connection.scss */
.connection__field input {
  width: 270px;
  border-radius: 20px;
  border: 1px solid #474bcb;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 12px 20px;
}
/* line 50, ../../front/sass/pages/_connection.scss */
.connection__field input::placeholder {
  color: #999999;
}
/* line 54, ../../front/sass/pages/_connection.scss */
.connection__field:last-child {
  margin-bottom: 0;
}
/* line 58, ../../front/sass/pages/_connection.scss */
.connection__field--double input {
  margin-bottom: 10px;
}
/* line 63, ../../front/sass/pages/_connection.scss */
.connection__field--active input {
  border: 1px solid #df1b1b;
}
/* line 68, ../../front/sass/pages/_connection.scss */
.connection__forgetPsw {
  margin-top: 2px;
}
/* line 70, ../../front/sass/pages/_connection.scss */
.connection__forgetPsw a {
  text-decoration: none;
  color: #474bcb;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 76, ../../front/sass/pages/_connection.scss */
.connection__linksContainer {
  text-align: center;
}
/* line 79, ../../front/sass/pages/_connection.scss */
.connection__links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
/* line 83, ../../front/sass/pages/_connection.scss */
.connection__links button {
  border-radius: 20px;
  background-color: #474bcb;
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 9px 0;
  width: 100%;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
/* line 95, ../../front/sass/pages/_connection.scss */
.connection__links a {
  text-decoration: none;
  color: #474bcb;
  margin-top: 15px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  position: relative;
}
/* line 104, ../../front/sass/pages/_connection.scss */
.connection__links a:hover:before {
  width: 100%;
}
/* line 108, ../../front/sass/pages/_connection.scss */
.connection__links a:before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  bottom: 0;
  height: 1px;
  background-color: #474bcb;
  transition: 0.4s ease-in-out;
}

/* line 1, ../../front/sass/components/_header.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  height: 50px;
  display: flex;
  align-items: center;
  background-color: white;
}
/* line 11, ../../front/sass/components/_header.scss */
.header__list {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
}
/* line 17, ../../front/sass/components/_header.scss */
.header__list > div {
  display: flex;
  align-items: center;
}
/* line 21, ../../front/sass/components/_header.scss */
.header__list__logo {
  display: inline-block;
  height: 30px;
}
/* line 26, ../../front/sass/components/_header.scss */
.header__list__item:first-child {
  margin-right: 10px;
}
/* line 29, ../../front/sass/components/_header.scss */
.header__list__item--centered {
  display: flex;
  align-items: center;
}
/* line 34, ../../front/sass/components/_header.scss */
.header__list__userImg {
  background-color: grey;
  border-radius: 100%;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center center;
}

/* line 1, ../../front/sass/components/_aside.scss */
.aside {
  position: fixed;
  background-color: #fcfcfc;
  height: calc(100vh - 50px);
  top: 50px;
}
/* line 6, ../../front/sass/components/_aside.scss */
.aside__searchBar {
  background-color: transparent;
  border: none;
  margin-left: 20px;
  position: relative;
  padding-right: 20px;
  padding-bottom: 5px;
}
/* line 13, ../../front/sass/components/_aside.scss */
.aside__searchBar__container {
  position: relative;
}
/* line 17, ../../front/sass/components/_aside.scss */
.aside__searchBar__container--active .aside__searchBar__outline:after {
  width: 100%;
  left: 0;
}
/* line 24, ../../front/sass/components/_aside.scss */
.aside__searchBar__outline {
  position: absolute;
  bottom: 0;
  width: calc(100% - 37px);
  height: 2px;
  background-color: transparent;
  left: 15px;
}
/* line 31, ../../front/sass/components/_aside.scss */
.aside__searchBar__outline:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}
/* line 40, ../../front/sass/components/_aside.scss */
.aside__searchBar__outline:after {
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  position: absolute;
  height: 1px;
  background-color: green;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 52, ../../front/sass/components/_aside.scss */
.aside__list {
  display: flex;
  flex-direction: column;
}
/* line 55, ../../front/sass/components/_aside.scss */
.aside__list__item {
  padding: 5px 0 5px 20px;
  margin-top: 15px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 130%;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #757575;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 66, ../../front/sass/components/_aside.scss */
.aside__list__item:hover {
  color: #00b0ff;
}
/* line 69, ../../front/sass/components/_aside.scss */
.aside__list__item span {
  margin-left: 5px;
}
/* line 72, ../../front/sass/components/_aside.scss */
.aside__list__item i {
  font-size: 18px;
  font-size: 1.125rem;
}
/* line 74, ../../front/sass/components/_aside.scss */
.aside__list__item i:before {
  display: block;
}
/* line 78, ../../front/sass/components/_aside.scss */
.aside__list__item:first-child {
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
/* line 83, ../../front/sass/components/_aside.scss */
.aside__list__item--active {
  color: #00b0ff;
}
