.container {
  width: 1240px;
  margin: 0 auto;
  &--mini {
    width: 800px;
  }
  &--height {
    min-height: 100vh;
  }
  &--centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--header {
    margin-top: 70px;
  }
}
.body {
  &--colored {
    background-color: $blue-light-2;
  }
}
body {
  font-family: 'Roboto', sans-serif;
}

* {
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
  color: black;
  padding: 5px 2px;
}