{% extends 'template/template.html.twig' %}

{% block body %}
    <div class="themes">
        <div class="themes__head">
            <img class="themes__preview__image" src="" alt="">
        </div>
        <div class="themes__list">
            <div class="themes__head">
                <h3>Listes des thèmes</h3>
            </div>
            <div class="themes__listItem">
                {% for theme in themes %}
                    <div class="themes__card__wrapper">
                        <a class="link link__theme themes__card__link" href=""></a>
                        <div class="themes__card__imageWrapper">
                            <div class="themes__card__padding"></div>
                            <img class="themes__card__image" src="{{ theme.image }}" alt="">
                        </div>
                        <div class="themes__card__content">
                            <div class="themes__card__row">
                                <h3 class="themes__card__title">{{ theme.name }}</h3>
                                <p class="themes__card__desc">Default template</p>
                            </div>
                            <div class="themes__card__row">
                                {% if theme.selected == false %}
                                    <div class="themes__buttonContainer">
                                        <a style="background: #fff;" href="/admin/themes/{{ theme.name }}/select" id="validateTheme" class='rkmd-btn ripple-effect btn-lg'>
                                            Activate this theme
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="/script/themes.js"></script>
{% endblock %}