{% extends 'template/template-no-nav.html.twig' %}

{% block body %}
    {% set nav = 0 %}
    <div class="connection">
        <form action="/admin/login" method="post" class="connection__container">
            <div class="connection__userImage">
                <img style="width: 100%;" src="/image/logo.svg" alt="">
            </div>
            <div class="connection__card">
                <div class="connection__title">
                    <h3>Connexion</h3>
                </div>
                <div>
                    <form action="">
                        <div class="connection__field">
                            <label for="">Mail address or username</label>
                            <input
                                class="connection__emailCheck"
                                type="text"
                                placeholder="mail@domaine.com"
                                name="username"
                                value="{{ credentials.username ?? '' }}">
                            <span class="connection__error"></span>
                        </div>
                        <div class="connection__field">
                            <label for="">Password</label>
                            <input
                                type="password"
                                name="password"
                                value="{{ credentials.password ?? '' }}"
                                placeholder="Mot de passe">
                        </div>
                    </form>
                    <div class="connection__forgetPsw">
                        <a href="">Mot de passe oublié ?</a>
                    </div>
                </div>
                <div class="connection__links">
                    <button type="submit">Se connecter <i></i></button>
                    <div class="connection__linksContainer">
                        <a href="">Pas encore inscrit ?</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock body %}
