{% extends 'template/template-no-nav.html.twig' %}

{% set nav = false %}

{% block body %}
    <div class="connection">
        <div class="connection__container">
            <div class="connection__userImage">
                <img style="width: 88px; height: 88px; background-color: grey;" src="" alt="">
            </div>
            <div class="connection__card">
                <div class="connection__title">
                    <h3>Inscription</h3>
                </div>
                <div>
                    <form action="">
                        <div class="connection__field">
                            <label for="">Mail address or username</label>
                            <input class="connection__emailCheck" type="email" placeholder="mail@domaine.com">
                        </div>
                        <div class="connection__field">
                            <label for="">Pseudo</label>
                            <input type="text" placeholder="Pseudo">
                        </div>
                        <div class="connection__field connection__field--double">
                            <label for="">Password</label>
                            <input type="password" placeholder="Mot de passe">
                            <input type="password" placeholder="Confirmez le mot de passe">
                        </div>
                    </form>
                </div>
                <div class="connection__links">
                    <button type="submit">S'inscrire <i></i></button>
                    <div class="connection__linksContainer">
                        <a href="">Se connecter à un compte existant ?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
